<h2>Hello this is the list of Recipes</h2>

<% @user.recipes.each do |recipe| %>
  <div class="recipe">
  
   <a href= <%=user_recipe_path(@user.id,recipe.id)%> >  <%= recipe.name %></a>
    
    <%=button_to 'Remove', {:controller => :recipes, :action => 'destroy', :id => recipe.id}, :method => :delete %>

  </div>
  <div class="description">
    <%= recipe.description %>
  </div>
<% end %>
