<h2>Hello this is the list of public Recipes</h2>

<% @recipes.each do |recipe| %>
  <div class="recipe">
    <%= recipe.name %>
    
  

  </div>
  <div class="description">
    <%= recipe.description %>
  </div>
<% end %>