<nav>
  <ul class="navbar">
    <li class="nav-item"><%= link_to 'Home', public_recipes_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to 'Foods', public_recipes_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to 'Recipes', public_recipes_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to 'Public Recipes', public_recipes_path, class: 'nav-link' %></li>
  </ul>
</nav>