<section class="container">
  <h1 class="caption">Welcome to the Recipe App</h1>
  <div>
    <div class="home-btn-container">
      <%= image_tag "recipe.png", height: 360 %>
    </div>
  </div>
</section>